<!-- templates/reviews/reviews_for_flower.html -->
{% extends "base.html" %}

.logo-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

.logo-container img {
    width: 150px; /* Размер логотипа */
    height: auto;
}


{% block title %}Отзывы о {{ flower.name }}{% endblock %}

{% block content %}
<h2>Отзывы о {{ flower.name }}</h2>
<ul>
    {% for review in reviews %}
    <li>{{ review.user.username }}: {{ review.review }} (Рейтинг: {{ review.rating }})</li>
    {% endfor %}
</ul>
<a href="{% url 'add_review' flower.id %}">Добавить отзыв</a>
{% endblock %}
