{% extends 'base.html' %}

{% block title %}Отзывы{% endblock %}

{% block content %}
<h2>Отзывы</h2>
<p>Здесь вы можете прочитать отзывы о нашем сервисе:</p>

<ul>
    {% for review in reviews %}
    <li>
        <strong>{{ review.user.username }}</strong> оставил отзыв на <strong>{{ review.flower.name }}</strong>: <br>
        {{ review.review }}<br>
        Рейтинг: {{review.rating}}
    </li>
    {% empty %}
    <li>Отзывов пока нет.</li>
    {% endfor %}
</ul>

<p><a href="#" class="nav-button">Оставить отзыв</a></p>
{% endblock %}


