<!-- flowerdelivery\analytics\templates\analytics\analytics.html -->
{% extends 'base.html' %}

{% block title %}Аналитика{% endblock %}

{% block content %}
<h2>Аналитика</h2>
<p>Данные о продажах и заказах:</p>

<ul>
    <li>Количество заказов за день: {{ daily_orders }}</li>
    <li>Общая сумма продаж за день: {{ daily_sales }} руб.</li>
</ul>

<ul>
    <li>Количество заказов за месяц: {{ monthly_orders }}</li>
    <li>Общая сумма продаж за месяц: {{ monthly_sales }} руб.</li>
</ul>

<ul>
    <li>Количество заказов за год: {{ yearly_orders }}</li>
    <li>Общая сумма продаж за год: {{ yearly_sales }} руб.</li>
</ul>

<p>Графики и диаграммы можно добавить сюда.</p>
{% endblock %}
