{% extends 'base.html' %}
{% load static %}

{% block title %}Каталог цветов{% endblock %}

{% block content %}
<h2>Каталог цветов</h2>
<p>Здесь вы можете выбрать цветы для заказа:</p>

<!-- Карточки товаров -->
<div class="product-list">
    {% for flower in flowers %}
    <div class="product-item">
        <h3>{{ flower.name }}</h3>
        <p>{{ flower.description }}</p>
        <img src="{{ flower.image.url }}" alt="{{ flower.name }}" class="product-image">
        <p>Цена: {{ flower.price }} руб.</p>
         <!-- Кнопка для перехода в Telegram-бот -->
        <a href="https://t.me/FlowdelBot" target="_blank">
        <button style="background-color: blue; color: white; border: none; padding: 10px 20px; font-size: 16px; cursor: pointer;">Оформить заказ через Telegram</button>
        </a>
    </div>
    {% empty %}
    <p>Цветы не найдены.</p>
    {% endfor %}
</div>
{% endblock %}
