{% extends 'base.html' %}
{% load static %}

{% block title %}Каталог цветов{% endblock %}

{% block content %}
<h2>Каталог цветов</h2>
<p>Здесь вы можете выбрать цветы для заказа:</p>

<!-- Карточки товаров -->
<div class="product-list">
    {% for flower in flowers %}
    <div class="product-item">
        <h3>{{ flower.name }}</h3>
        <p>{{ flower.description }}</p>
        <img src="{{ flower.image.url }}" alt="{{ flower.name }}" class="product-image">
        <p>Цена: {{ flower.price }} руб.</p>
        <a href="#" class="nav-button">Добавить в корзину</a>
    </div>
    {% empty %}
    <p>Цветы не найдены.</p>
    {% endfor %}
</div>
{% endblock %}
