<!-- flower_orders/order_list.html -->

{% extends 'base.html' %}

{% block title %}Мои заказы{% endblock %}

{% block content %}
<h2>Мои заказы</h2>

<ul>
    {% for order in orders %}
    <li>
        Заказ #{{ order.id }} - {{ order.status }} <br>
        Дата заказа: {{ order.order_date }} <br>
        {% if order.order_items.all %}
        Цветы:
        <ul>
            {% for flower in order.flowers %}
            <li>{{ flower.name }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Цветы не указаны для этого заказа.</p>
        {% endif %}
    </li>
    {% empty %}
    <li>У вас нет заказов.</li>
    {% endfor %}
</ul>
{% endblock %}
