<!-- flower_orders/order_list.html -->

{% extends 'base.html' %}

{% block title %}Мои заказы{% endblock %}

{% block content %}
<h2>Мои заказы</h2>

<ul>
    {% for order in orders %}
    <li>
        Заказ #{{ order.id }} - {{ order.status }} <br>
        Дата заказа: {{ order.created_at }} <br>
        {% if order_items.all %}
        Цветы:
        <ul>
            {% for item in order.items.all %}
            <li>{{ item.flower.name }}: {{ item.quantity }} шт. по {{ item.price_per_item }} руб.</li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Цветы не указаны для этого заказа.</p>
        {% endif %}
    </li>
    {% empty %}
    <li>У вас нет заказов.</li>
    {% endfor %}
</ul>
{% endblock %}
